.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  .formWrapper {
    position: absolute;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    .field {
      display: flex;
      width:100%;
      flex-basis: auto;
      span {
	      width:25%;
	      height: 100%;
	      line-height: 50px;
      }
      input {
	      width:75%;
        padding: 10px;
        margin: 5px;
      }
    }
  }
}
